@import '_general.scss';

@keyframes bounce {
    from {
        margin-top: 0;
    }
    to {
        margin-top: .5rem;
    }
}

//BODY Part 1 of 3 - The Header, which holds the navbar and header art
header {
    border-bottom: .125rem solid $TopNav-grey;
    height: 100vh;
    @media screen and (min-width: $screen-breakpoint1) {
        margin-bottom: 1.25rem;    
    }
}

nav {
    background-color: $TopNav-grey;  
    text-transform: uppercase;
    display: grid;
    grid-template-rows: 3.75rem 3.75rem;  
    grid-template-columns: repeat(12,1fr);
    // Get rid of the bullet points and put links in all-uppercase*/
    ul {
        text-transform: uppercase;
    }
    // The links for different sections of the page/site 
    #nav_links {
        display: none;
        li a, li a:visited {
            font-weight: bolder;  
            color: #747272;
            font-family: 'Chakra Petch', sans-serif;  
        }

        li a:hover {
            color: $blue;
            border-bottom: .25rem solid $blue;
            transition: border 150ms linear;
            cursor: pointer;
        }
        @media screen and (min-width: $screen-breakpoint1){
            grid-column: 4/12;
            grid-row: 1/2;
            display: grid;
            justify-items: start;
            align-items: end;
            margin: 0;
            padding: 0;
            z-index: 20;
            grid-template-columns: 2fr 2fr 2fr 2fr;
            grid-template-rows: auto;
        }
    }
}
    
/* The site logo that sits in the nav*/
.nav_logo {
    justify-self: center;
    align-self: center;
    z-index: 20;
    height: 6.25rem;
    grid-column: 2/3;
    grid-row: 1/3;
    img {
        height: 6.25rem;
        &:hover {
            opacity: 0.9;
        }
    }
    @media screen and (min-width: $screen-breakpoint1) {
        grid-column: 1/4;
        grid-row: 1/3;
        z-index: 20;
    }
}

//The background of the nav bar, made up of 2 halves
//the top half (dark grey, holds up the links on desktop) 
.nav_top-half {
    grid-column: 1/13;
    grid-row: 1/2;
    z-index: 10;
}

//the bottom half (white on desktop to create the split effect with logo)
.nav_bottom-half {
    grid-column: 1/13;
    grid-row: 2/3;
    z-index: 10;
    @media screen and (min-width: $screen-breakpoint1) {
        background-color: white;
    }
}

//The button for mobile navigation
#accordion-button {
    display: block;
    width: 100%;
    height: auto;
    background-color: $blue;
    text-align: center;
    @media screen and (min-width: $screen-breakpoint1) {
        display: none;
    }
}


#header-art {
    padding: 1rem 0 2rem 0;
    @media screen and (min-width: $screen-breakpoint1) {
        grid-column: 1/13;
        grid-row: 2/3;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;       
    }
}

//The header art
#header-art_picture {
    position: absolute;
    top: 7.5rem;
    z-index: 20;
    @media screen and (min-width: $screen-breakpoint1) {
        position: static;
        height: 25rem;
        grid-column: 7/13;
        padding-left: 1rem;
        justify-self: start;
    }
    img {
        width: 100%;
        opacity: .5;
        @media screen and (min-width: $screen-breakpoint1) {
            width: 22.5rem;
            opacity: 1;
        }
    }
}

#header-art_textbox_waterfall {
    text-align: center;
    display: block;
    @media screen and (min-width: $screen-breakpoint1) {
        text-align: right;
    }
}

#header-art_textbox {
    text-transform: uppercase;
    text-align: center;
    z-index: 30;
    position: relative;
    align-self: center;
    @media screen and (min-width: $screen-breakpoint1) {
        display: block;
        grid-column: 1/7;
        justify-self: end;
        line-height: 3rem;
        padding-right: 1rem;
        text-align: right;
        align-self: start;
    }
    button {
        background-color: transparent;
        border: none;
        width: 70px;
        height: 40px;
    }
}

#header-art_chevron {
    height: 50px;
    width: 50px;
    border: solid $Logo-grey;
    border-width: 0 5px 5px 0;
    display: inline-block;
    transform: rotate(45deg);
    text-align: right;
    animation: bounce 600ms ease-in-out 600ms infinite alternate;
}
  
#header-art_chevron:after {
    height: 50px;
    width: 50px;
    margin: 10px;
    content: '';
    border: solid $Logo-grey;
    border-width: 0 5px 5px 0;
    display: inline-block;
    text-align: right;
    }