@import '_general.scss';

// BODY Part 2 of 3 - The Main, which holds a Portfolio and Contact section
main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    @include mobile-reposition();
    @include full_width_grid(auto);
    p {
        font-size: 1.25rem;
    }
}

.main_sections {
    display: block;
    width: 100%;
    margin-top: 2rem;
    padding: 2rem 0;
    @media screen and (min-width: $screen-breakpoint1) {
        grid-column: 2/12;
    }
}

.main_sub-sections {
    padding-top: 1rem;
    @media screen and (max-width: $screen-breakpoint1){
        padding: 1rem;        
    }
    &:not(:last-child) {
        @media screen and (max-width: $screen-breakpoint1) {
            border-bottom: .125rem solid $TopNav-grey;
        }
    }
}

button, input[type=submit] {
    background-color: #252525;
    border: 1px solid white;
    color: white;
    width: 20rem;
    height: 2rem;
    cursor: pointer;
    text-transform: uppercase;
}

.profile_links-container {
    padding: 1rem;
    @media screen and (min-width: $screen-breakpoint1) {
        padding: 2rem 0 0 4rem;
    }
    
    ul {
        display: flex;
        flex-flow: column wrap;
        padding: 0;

    }
    a {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 1.25rem;
        padding: 1rem 0;
    }
}

.profile_links {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-right: 3rem;
    img {
        margin-right: .5rem;
    }
    :visited {
        color: black;
    }
}

.profile_links_images {
    width: 4rem;
    height: 4rem;
}

#contact_content-container {
    @media screen and (max-width: $screen-breakpoint1) {
        justify-content: center;
    }
    display: flex;
    flex-flow: row wrap;
}

form {
    display: flex;
    flex-flow: column wrap;
    padding: 1rem;
    text-align: center;
    @media screen and (min-width: $screen-breakpoint1) {
        text-align: left;
        padding: 2rem 4rem 0 0; 
        width: 30rem;
    }
       
    >* {
        margin-bottom: 2rem;
        border-width: 0 0 .1rem 0;
    }
    textarea {
        height: 10rem;
    }
    button:hover {
        background-color: white;
        border: .125rem solid black;
        color: black;
    }
}

