/* Loading fonts */
@font-face {
    font-family: 'Chakra Petch';
    src: /*url('fonts/Chakra_Petch.woff2') format(woff2),*/
    url('../fonts/Chakra_Petch/ChakraPetch-Regular.ttf') format(woff);     
}

@font-face {
    font-family: 'Roboto';
    src:/*url('/fonts/roboto.woff2') format(woff2),*/
    url('../fonts/Roboto/Roboto-Regular.ttf') format(woff);     
}

* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

/*General variables*/
//Main colors
$pink: #E4C8C4;
$blue: #75C4DB;
$yellow:#ffeba8;
$green: #a8ffb7;
$TopNav-grey: #EEEEEE;
$Logo-grey: #7b7879;

/*Variables for page positioning mainly for the header-art, where pic & text overlap on mobile 
then go back to normal on desktop*/

//The combined height of the nav bar (top and bottom halves behind logo)
$nav-size: 7.5rem;

@mixin full_width_grid {
    display: grid;
    grid-template: auto / repeat(12,1fr);
}

@mixin mobile-reposition {
    position: relative;
    top: $nav-size;
    @media screen and (min-width: 750px) {
        position: static;
    }
}

// The basic structure for the page(s)
body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    line-height: 3rem;
    display: block;
    @media screen and (min-width: 750px) {
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: auto auto auto; 
        grid-template-areas: 
        'header header header header header header header header header header header header '   
        '. main main main main main main main main main main .'    
        'footer footer footer footer footer footer footer footer footer footer footer footer';
    }
}

//BODY Part 1 of 3 - The Header, which holds the navbar and header art
header {
    display: flex;
    flex-flow: column wrap;
    @media screen and (min-width: 750px) {
        grid-area: header;
        margin-bottom: 1.25rem;    
    }
}

#header-art_picture {
    position: absolute;
    top: 7.5rem;
    z-index: 20;
    @media screen and (min-width: 750px) {
        position: static;
        height: 25rem;
        grid-column: 7/13;
        padding-left: 1rem;
        justify-self: start;
    }
    @media screen and (min-width: 900px) {
        grid-column: 7/13; 
    }
}

// Header Part 1 of 2 - The Nav, which holds the logo and links
nav {
    background-color: $TopNav-grey;  
    text-transform: uppercase;
    display: grid;
    grid-template-rows: 3.75rem 3.75rem;  
    grid-template-columns: 1fr 1fr 1fr;
    @media screen and (min-width: 750px) {
        grid-column: 1/13;
        grid-row: 1/2;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: 3.75rem 3.75rem;   
    }

    // Get rid of the bullet points and put links in all-uppercase*/
    ul {
        list-style: none;
        text-transform: uppercase;
    }

    // The links for different sections of the page/site 
    #nav_links {
        display: none;
        @media screen and (min-width: 750px){
            grid-column: 4/12;
            grid-row: 1/2;
            display: grid;
            justify-items: start;
            align-items: end;
            margin: 0;
            padding: 0;
            z-index: 20;
            grid-template-columns: 2fr 2fr 2fr 2fr;
            grid-template-rows: auto;
        }
        @media screen and (min-width: 900px) {
            grid-column: 4/12;
            grid-row: 1/2;
            display: grid;
            justify-items: start;
            align-items: end;
            margin: 0;
            padding: 0;
            z-index: 20;
            grid-template-columns: 2fr 2fr 2fr 2fr;
            grid-template-rows: auto;
        }
    }
    
    /* The site logo that sits in the nav*/
    .nav_logo {
        justify-self: center;
        align-self: center;
        z-index: 20;
        height: 6.25rem;
        grid-column: 2/3;
        grid-row: 1/3;
        justify-self: center;
        align-self: center;
        @media screen and (min-width: 750px) {
            grid-column: 1/4;
            grid-row: 1/3;
            z-index: 20;
        }
    }
    
    .nav_top-half {
        grid-column: 1/13;
        grid-row: 1/2;
        z-index: 10;
    }
    
    .nav_bottom-half {
        grid-column: 1/13;
        grid-row: 2/3;
        z-index: 10;
        @media screen and (min-width: 750px) {
            background-color: white;
        }
    }

    #accordion-button {
        display: block;
        //position: sticky;
        width: 100%;
        height: auto;
        background-color: $blue;
        text-align: center;
        @media screen and (min-width: 750px) {
            display: none;
        }
    }
}

a, a:visited {
    text-decoration: none;
    font-family: 'Chakra Petch', sans-serif;
}

li a {
    font-weight: bolder;  
    color: #747272;  
}

li a:hover {
    color: $blue;
    border-bottom: .25rem solid $blue;
    transition: border 150ms linear;
    cursor: pointer;
}

// BODY Part 2 of 3 - The Main, which holds a Portfolio and Contact section
main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    @include mobile-reposition();
    p {
        font-size: 1.25rem;
    }
    .main_sections {
        border-top: .125rem solid $TopNav-grey;
        display: block;
        width: 100%;
        margin-top: 2rem;
        padding: 2rem 0;
    }
}

h6,h5,h4,h3,h2,h1{
    font-family: 'Chakra Petch', sans-serif;
    margin: 0;
}

.header-art_picture_img {
    width: 100%;
    opacity: .5;
    @media screen and (min-width: 750px) {
        width: 22.5rem;
        opacity: 1;
    }
}

h1 {
    display: inline-block;
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
    padding-left: 0.7rem;
}

#header-art_textbox_nameplate {
    background-color: $pink;
    font-weight: bold;
}

#projects_h1 {
    background-color: $yellow;
}

#contact_h1 {
    background-color: $green;
}

#header-art_textbox_waterfall {
    text-align: center;
    font-weight: lighter;
    display: block;
    @media screen and (min-width: 750px) {
        text-align: right;
    }
}

#header-art_textbox {
    text-align: center;
    z-index: 30;
    position: relative;
    align-self: center;
    @media screen and (min-width: 750px) {
        display: block;
        grid-column: 1/7;
        justify-self: end;
        line-height: 3rem;
        padding-right: 1rem;
        text-align: right;
        align-self: start;
    }
}

.home_link_pic {
    height: 6.25rem;
}

.home_link_pic:hover {
    opacity: 0.9;
}

button, input[type=submit] {
    background-color: #252525;
    border: 1px solid white;
    color: white;
    width: 20rem;
    height: 2rem;
    cursor: pointer;
    text-transform: uppercase;
}

footer {
    font-family: 'Chakra Petch', sans-serif;
    grid-area: footer;
    color: black;
    background-color: $TopNav-grey;
    text-align: center;
    @include mobile-reposition();
    p {
        max-width: 100%;
    }
}

.profile_links-container a{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.5rem;

}

.profile_links {
    display: flex;
    flex-flow: row;
    align-items: center;
    a:visited {
        color: black;
    }
}

.profile_links_images {
    width: 4rem;
    height: 4rem;
}



p {
    margin: 0;
    max-width: 60rem;
}

#header-art {
    @media screen and (min-width: 750px) {
        grid-column: 1/13;
        grid-row: 2/3;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;       
    }
}

#header-art_chevron {
    font-size: 10rem;
    color: $Logo-grey;
	content: '';
	display: inline-block;
	height: 2.25rem;
	position: relative;
	transform: rotate(90deg);
    width: 2.25rem;
    text-align: right;
}

#contact_section {
    display: flex;
    flex-flow: row nowrap;
}

form {
    display: flex;
    flex-flow: column wrap;
}