/* Loading fonts */
@font-face {
    font-family: 'Chakra Petch';
    src: /*url('fonts/Chakra_Petch.woff2') format(woff2),*/
    url('../fonts/Chakra_Petch/ChakraPetch-Regular.ttf') format(woff);     
}

@font-face {
    font-family: 'Roboto';
    src:/*url('/fonts/roboto.woff2') format(woff2),*/
    url('../fonts/Roboto/Roboto-Regular.ttf') format(woff);     
}

* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    --pink: #E4C8C4;
    --blue: #75C4DB;
    --TopNav-grey: #EEEEEE;
}

/* BASIC GRID LAYOUT FOR ALL PAGES */
body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    line-height: 3rem;
    display: block;
}

/*NAVIGATION*/
#navbar {
    grid-column: 1/13;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 3.75rem 3.75rem;    
}

nav {
    background-color: var(--TopNav-grey);  
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    text-transform: uppercase;
}

#desktop_nav_links {
    display: none;
}

.nav_logo {
    grid-column: 1/13;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    z-index: 20;
    height: 6.25rem;
}

.nav_tophalf {
    grid-column: 1/13;
    grid-row: 1/2;
    z-index: 10;
}

.nav_bottomhalf {
    grid-column: 1/13;
    grid-row: 2/3;
    z-index: 10;
}

#hamburger_menu {
    cursor: pointer;
    grid-column: 9/13;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    padding-right: .8rem;
    z-index: 40;
}

#mobile_nav_links {
    display: none;
    grid-column: 1/4;
    grid-row: 2/3;
}

#mobile_nav_links.toggleOn {
    text-align: center;
    padding-top: 7.5rem;
    z-index: 30;
    display: block;
    background-color: black;
    position: fixed;
    right: 0;
    height: 100vh;
    width: 50vw;
    margin: 0;
}

#hamburger_menu.toggleOn {
    display: block;
}

a {
    text-decoration: none;
    font-family: 'Chakra Petch', sans-serif;
}

li a {
    font-weight: bolder;  
    color: #747272;  
}

li a:hover {
    color: var(--blue);
    border-bottom: .25rem solid var(--blue);
    transition: border 250ms linear;
    cursor: pointer;
}

.burger_bar {
    width: 33px;
    height: 5px;
    margin: 6px 0;
    background-color: #747272;
}

/* MAIN */
main {
    grid-row: 2/3;
    grid-column: 1/13;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

h6,h5,h4,h3,h2,h1{
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
    margin: 0;
}

.inverted_home_pic {
    width: 100%;
}

h1 {
    display: inline-block;
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
    padding-left: 0.7rem;
}

#home_nameplate {
    background-color: var(--pink);
}

#home_waterfall {
    text-align: center;
    font-weight: lighter;
    display: block;
}

#intro_headline {
    text-align: center;
}

.home_link_pic {
    height: 6.25rem;
}

.home_link_pic:hover {
    opacity: 0.9;
}

#about {
    grid-column: 1/13;
    grid-row: 2/3;
    display: block;
    width: 100%;
    margin-top: 2rem;
    padding: 2rem 0;
}

#homeLearnMore {
    grid-column: 1/13;
    grid-row: 3/4;
    color: var(--TopNav-grey);
    text-align: center;
    display: block;
    flex-flow: row wrap;
    padding-top: 2rem;
}

button, input[type=submit] {
    background-color: #252525;
    border: 1px solid white;
    color: white;
    width: 20rem;
    height: 2rem;
    cursor: pointer;
    text-transform: uppercase;
}

footer {
    font-family: 'Chakra Petch', sans-serif;
    grid-column: 1/13;
    grid-row: 3/4;
    color: black;
    background-color: var(--TopNav-grey);
    display: flex;
    flex-flow: row wrap;
}

.profile_links {
    width: 2rem;
    height: 2rem;
}

footer a {
    color: black;
}

p {
    margin: 0;
    max-width: 60rem;
}

footer p {
    max-width: 100%;
}

#home_header {
    display: flex;
    flex-flow: column-reverse wrap;
}

@media screen and (min-width: 750px) {
    /*NAV Changes*/
    #hamburger_menu, #mobile_nav_links {
        display: none;
    }

    #mobile_nav_links.toggleOff {
        display: none;
    }
    
    .nav_logo {
        grid-column: 1/4;
        grid-row: 1/3;
        justify-self: center;
        align-self: center;
        z-index: 20;
    }
    
    #desktop_nav_links {
        grid-column: 4/12;
        grid-row: 1/2;
        display: grid;
        justify-items: start;
        align-items: end;
        margin: 0;
        padding: 0;
        z-index: 20;
        grid-template-columns: 2fr 2fr 2fr 2fr;
        grid-template-rows: auto;
    }

    .nav_tophalf {
        z-index: 10;
    }
    
    .nav_bottomhalf {
        background-color: white;
        z-index: 10;
    }
    
    /* MAIN CHANGES */
    .inverted_home_pic {
        width: 22.5rem;
    }
    
    main {
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: auto auto auto;
    }

    main p {
        font-size: 1.25rem;
    }

    #home_header {
        display: grid;
        grid-column: 1/13;
        grid-row: 1/2;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: auto;
        margin-bottom: 1.25rem;
    }

    #intro_headline {
        display: block;
        grid-column: 1/7;
        justify-self: end;
        line-height: 3rem;
        padding-right: 1rem;
        text-align: right;
    }
    
    #home_hero_pic {
        height: 25rem;
        grid-column: 7/13;
        padding-left: 1rem;
        justify-self: start;
    }
    
    #home_waterfall {
        text-align: right;
    }

    #about {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto auto;
    }

    #about p, #about h1{
        grid-column: 4/11;
    }
}

/* Desktop/Tablet display*/
@media screen and (min-width: 900px) {
    .nav_logo {
        grid-column: 2/4;
    } 

    .home_hero_pic {
        grid-column: 7/13;
    }     
}