//START OF ABOUT SECTION BLOCK
#about {
    .about-block {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 4.5rem;
        @media (min-width: $nowTablet) {
            margin-bottom: 5.75rem;
        }
        @media (min-width: $nowDesktop) {
            flex-flow: row wrap;
            &:nth-child(2) {
                flex-flow: row-reverse wrap;
            }
        }
        .about-block_text {
            font-family: 'Chakra Petch', sans-serif;
            h2 {
                font-size: 1.5rem;
                color: $blue;
            }
            p {
                font-size: 1rem;
            }
        }
    }
    img, .about-block_text {
        width: 90%;
        max-width: 24.75rem;
        @media screen and (min-width: $nowDesktop) {
            padding: 0 1.25rem;
        }
    }
}//END OF ABOUT SECTION BLOCK