// /General styles (loading fonts, variables, etc) 
@font-face {
    font-family: 'Chakra Petch';
    src: url('../fonts/Chakra_Petch/ChakraPetch-Regular.ttf') format(truetype);     
}

@font-face {
    font-family: 'Chakra Petch bold';
    src: url('../fonts/Chakra_Petch/ChakraPetch-Bold.ttf') format(truetype);     
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format(truetype);     
}

header, #about, #work, #contact {
    @include main-sec-spacing;
} 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
    /*@media screen and (min-width: $nowLargeDesktop){
        font-size: 120%;
    }
    @media screen and (orientation: portrait) and (min-width: $nowTablet) {
        font-size: 125%;
    }
    @media screen and (min-width: $nowTV) {
        font-size: 150%;
    }
    @media screen and (orientation: portrait) and (min-width: $nowDesktop) {
        font-size: 150%;
    }*/
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    line-height: 3rem;
    display: block;
}

/*section {
    padding: 3rem 8%;
    border-top: .1625rem solid $lightgrey;
}
*/
.sub-sec {
    @media screen and (min-width: $nowTablet) {
        margin: 0 1rem;
    }
}

h6,h5,h4,h3,h2,h1{
    font-family: 'Chakra Petch', sans-serif;
    margin: 0;
}

h2:not(.waterfallh2) {
    font-weight: 400;
    font-size: 2.25rem;
    color: $darkgrey;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    &:focus {
        outline: 0;
        * {outline: 0;}
    }
}

p {
    color: $darkgrey;
    max-width: 24.75rem;
}

main {
    h1 {
        background-color: $green;
        display: inline-block;
        color: black;
    }
}

.app-wrap {
    display: flex;
    flex-flow: column-reverse wrap;
    aside {
        min-height: calc(100vh - 7.5rem);
        ul {
            position: fixed;
            li {
                margin: .5rem 1rem;
            }
        }
    }
    @media (min-width: $nowDesktop) {
        display: grid;
        grid-template: auto / 1fr 10fr 1fr;
        align-content: start;
        justify-items: center;
        aside {
            display: block;
            align-self: start;
            justify-self: end;
            margin-top: 2rem;
        }
    }
}