//Tier 1 - <nav> 
nav {
    //from mobile to tablet
    display: grid;
    grid-template-rows: 2.65rem 2.65rem;  
    grid-template-columns: 5% auto 1fr 5%;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: transparent;
    z-index: 90;
    text-transform: uppercase;
    
    //from tablet to desktop
    @media screen and (min-width: $nowTablet) {
        width: auto;
        padding: 0;
        grid-template-rows: 3.75rem 3.75rem;
        //grid-template-columns: .5fr repeat(10,1fr) .5fr;
    }

    //from desktop on
    @media screen and (min-width: $nowDesktop) {
        grid-template-columns: repeat(12,1fr);
    }


    .nav-background {
        grid-column: 1/13;
        z-index: 10;
    }

    .nav-tophalf {
        grid-row: 1/2;
        background-color: $lightgrey;
    }

    .nav-bottomhalf {
        grid-row: 2/3;
        background-color: transparent;
    }


    .nav-logo {
        //padding: 0 5%;
        justify-self: center;
        align-self: center;
        z-index: 20;
        grid-column: 2/3;
        grid-row: 1/3;
        height: 4.75rem;
        @media screen and (min-width: $nowTablet) {
            padding: 0;
            height: 6.25rem;
        }
    }

    .nav-links {
        z-index: 500;
        padding: 0 2.5%;
        grid-column: 3/4;
        grid-row: 1/2;
        background-color: $lightgrey;
        line-height: 3rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-end;
        transition: right 500ms ease-in-out;
        text-transform: uppercase;
        list-style: none;
        @media screen and (min-width: $nowTablet){
            grid-column: 3/4;
            margin: 0;
            z-index: 20;
            width: inherit;
            position: static;
            height: auto;
            width: inherit;
            line-height: inherit;
        }
        @media (min-width: $nowDesktop) {
            display: grid;
            grid-column: 4/13;
            grid-template-columns: 2fr 2fr 2fr 2fr;
            grid-template-rows: auto;
            padding: 0;
        }
        li a, li a:visited {
            font-size: .875rem;
            font-weight: bolder;  
            color: $darkgrey;
            font-family: 'Chakra Petch', sans-serif; 
            text-decoration: none;
            &:hover {
                color: $midnight-green;
                text-decoration: line-through;
                text-decoration-color: $midnight-green;
            }
            @media (min-width: $nowTablet) {
                font-size: 1rem;
            } 
        }
        .active {
            text-decoration: line-through;
        }
    }
}