@font-face {
  font-family: "Chakra Petch";
  src: url("../fonts/Chakra_Petch/ChakraPetch-Regular.ttf") format(truetype);
}
@font-face {
  font-family: "Chakra Petch bold";
  src: url("../fonts/Chakra_Petch/ChakraPetch-Bold.ttf") format(truetype);
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format(truetype);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  line-height: 3rem;
  display: block;
}

h6, h5, h4, h3, h2, h1 {
  font-family: "Chakra Petch", sans-serif;
  margin: 0;
}

h2:not(.waterfallh2) {
  font-weight: 400;
  font-size: 2.25rem;
  color: #7b7879;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}
button:focus {
  outline: 0;
}
button:focus * {
  outline: 0;
}

p {
  color: #7b7879;
  max-width: 24.75rem;
}

main section {
  padding: 1.5rem 5%;
  text-align: center;
}
@media (min-width: 62.5rem) {
  main section {
    padding: 1.5rem 0;
    text-align: left;
  }
}
main section .container {
  text-align: left;
}
main h1:not(.headerh1) {
  background-color: #8CE3FD;
  display: inline-block;
  color: black;
  font-size: 2.25rem;
  margin: 0 0 1.5rem 0;
  padding: 0 0.5rem;
}
@media (min-width: 43.75rem) {
  main h1:not(.headerh1) {
    font-size: 3rem;
    margin: 0 0 1.5rem 1.25rem;
  }
}

.app-wrap {
  display: flex;
  flex-flow: column-reverse;
}
.app-wrap aside {
  background-color: #EEEEEE;
}
.app-wrap aside ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.app-wrap aside ul li {
  margin: 0.5rem 1rem;
}
@media (min-width: 62.5rem) {
  .app-wrap {
    display: grid;
    grid-template: 100%/1fr 10fr 1fr;
    align-content: start;
    justify-items: center;
  }
  .app-wrap aside {
    background-color: white;
    height: calc(100% - 3rem);
    display: block;
    align-self: start;
    justify-self: end;
    margin-top: 2.5rem;
  }
  .app-wrap aside ul {
    position: sticky;
    top: 10.5rem;
  }
}

nav {
  display: grid;
  grid-template-rows: 2.65rem 2.65rem;
  grid-template-columns: 5% auto 1fr 5%;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: transparent;
  z-index: 90;
  text-transform: uppercase;
}
@media screen and (min-width: 43.75rem) {
  nav {
    width: auto;
    padding: 0;
    grid-template-rows: 3.75rem 3.75rem;
  }
}
@media screen and (min-width: 62.5rem) {
  nav {
    grid-template-columns: repeat(12, 1fr);
  }
}
nav .nav-background {
  grid-column: 1/13;
  z-index: 10;
}
nav .nav-tophalf {
  grid-row: 1/2;
  background-color: #EEEEEE;
}
nav .nav-bottomhalf {
  grid-row: 2/3;
  background-color: transparent;
}
nav .nav-logo {
  justify-self: center;
  align-self: center;
  z-index: 20;
  grid-column: 2/3;
  grid-row: 1/3;
  height: 4.75rem;
}
@media screen and (min-width: 43.75rem) {
  nav .nav-logo {
    padding: 0;
    height: 6.25rem;
  }
}
nav .nav-links {
  z-index: 500;
  padding: 0 2.5%;
  grid-column: 3/4;
  grid-row: 1/2;
  background-color: #EEEEEE;
  line-height: 3rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-end;
  transition: right 500ms ease-in-out;
  text-transform: uppercase;
  list-style: none;
}
@media screen and (min-width: 43.75rem) {
  nav .nav-links {
    grid-column: 3/4;
    margin: 0;
    z-index: 20;
    width: inherit;
    position: static;
    height: auto;
    width: inherit;
    line-height: inherit;
  }
}
@media (min-width: 62.5rem) {
  nav .nav-links {
    display: grid;
    grid-column: 4/13;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: auto;
    padding: 0;
  }
}
nav .nav-links li a, nav .nav-links li a:visited {
  font-size: 0.875rem;
  font-weight: bolder;
  color: #7b7879;
  font-family: "Chakra Petch", sans-serif;
  text-decoration: none;
}
nav .nav-links li a:hover, nav .nav-links li a:visited:hover {
  color: #004953;
  text-decoration: line-through;
  text-decoration-color: #004953;
}
@media (min-width: 43.75rem) {
  nav .nav-links li a, nav .nav-links li a:visited {
    font-size: 1rem;
  }
}
nav .nav-links .active {
  text-decoration: line-through;
}

@keyframes bounce {
  from {
    position: relative;
    top: 0;
  }
  to {
    position: relative;
    top: 0.5rem;
  }
}
@-webkit-keyframes bounce {
  from {
    position: relative;
    top: 0;
  }
  to {
    position: relative;
    top: 0.5rem;
  }
}
header {
  position: relative;
  bottom: 2.65rem;
  min-height: calc(100vh + 2rem);
}
@media screen and (min-width: 43.75rem) {
  header {
    min-height: calc(100vh - 7.5rem);
    position: static;
  }
}
@media screen and (min-width: 62.5rem) {
  header .sub-sec {
    margin: 0 1rem;
  }
}
@media screen and (orientation: portrait) and (min-width: 62.5rem) {
  header {
    height: 100vh;
    flex-flow: column-reverse;
    align-content: center;
    justify-content: flex-end;
  }
}

.header-waterfall {
  text-align: center;
  z-index: 25;
  align-self: center;
  line-height: 3rem;
  padding: 2rem 0;
}
@media screen and (min-width: 43.75rem) {
  .header-waterfall {
    display: block;
    padding-top: 2.5rem;
  }
}
@media screen and (min-width: 62.5rem) {
  .header-waterfall {
    text-align: right;
    align-self: start;
    padding: 0 1rem 0 0;
  }
}
@media screen and (orientation: portrait) {
  .header-waterfall {
    text-align: center;
    align-self: inherit;
    padding: 2rem 0;
  }
}

@media screen and (min-width: 43.75rem) {
  .header-picture {
    height: 25rem;
  }
}
.header-picture img {
  width: 100%;
}
@media screen and (min-width: 43.75rem) {
  .header-picture img {
    width: 22.5rem;
  }
}

.header-chevron {
  animation: bounce 600ms ease-in-out 600ms infinite alternate;
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 600ms;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  background-color: transparent;
  border: none;
  padding-top: 0.5rem;
}
.header-chevron span {
  cursor: pointer;
  height: 3.125rem;
  width: 3.125rem;
  border: solid grey;
  border-width: 0 0.3125rem 0.3125rem 0;
  display: inline-block;
  transform: rotate(45deg);
  text-align: right;
}
.header-chevron span::after {
  height: 3.125rem;
  width: 3.125rem;
  margin: 0.625rem;
  content: "";
  border: solid grey;
  border-width: 0 0.3125rem 0.3125rem 0;
  display: inline-block;
  text-align: right;
}
@media screen and (orientation: landscape) {
  .header-chevron {
    padding-right: 0.5rem;
  }
}

#intro-block {
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
  justify-content: flex-end;
}
#intro-block h1 {
  text-transform: uppercase;
  background-color: #E4C8C4;
  display: inline-block;
  font-size: 2.5rem;
}
#intro-block .waterfallh2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
}
@media screen and (min-width: 62.5rem) {
  #intro-block {
    padding: 1.5rem 0 3rem 0;
  }
}

@media (min-width: 62.5rem) {
  #intro-block {
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: center;
  }
}
#about .about-block {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 4.5rem;
}
@media (min-width: 43.75rem) {
  #about .about-block {
    margin-bottom: 5.75rem;
  }
}
@media (min-width: 62.5rem) {
  #about .about-block {
    flex-flow: row wrap;
  }
  #about .about-block:nth-child(2) {
    flex-flow: row-reverse wrap;
  }
}
#about .about-block .about-block_text {
  font-family: "Chakra Petch", sans-serif;
}
#about .about-block .about-block_text h2 {
  font-size: 1.5rem;
  color: #276A84;
}
#about .about-block .about-block_text p {
  font-size: 1rem;
}
#about img, #about .about-block_text {
  width: 90%;
  max-width: 24.75rem;
}
@media screen and (min-width: 62.5rem) {
  #about img, #about .about-block_text {
    padding: 0 1.25rem;
  }
}

#work {
  color: #7b7879;
}
#work h1 {
  background-color: #C8E8CC;
}
#work .work-img-container {
  width: 100%;
  max-width: 24.75rem;
  text-align: center;
}
@media screen and (min-width: 62.5rem) {
  #work .work-img-container {
    width: 25rem;
  }
}
#work .work-img-container img {
  width: 100%;
}
@media screen and (min-width: 62.5rem) {
  #work .work-img-container img {
    width: auto;
    max-width: 100%;
    height: 16rem;
    padding: 0 1.25rem;
  }
}
#work .work-btns {
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
}
#work button {
  z-index: 999;
  text-align: center;
  cursor: pointer;
  width: auto;
  font-size: 0.875rem;
  padding: 0.5rem;
  margin: 0.75rem 1rem 0 0;
  border: 0.125rem solid #276A84;
  background-color: white;
  border-color: #276A84;
  color: #276A84;
  font-family: "Chakra Petch";
}
#work button:hover {
  background-color: #276A84;
  color: white;
}

.work-details {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  padding: 2.1875rem 0;
  border-bottom: 1px solid #747272;
}
.work-details .project-desc {
  font-size: 0.875rem;
  line-height: 2.25rem;
  text-align: left;
}
.work-details .project-name {
  font-size: 1.75rem;
  color: #276A84;
}
.work-details:last-child {
  border: none;
}
@media (min-width: 62.5rem) {
  .work-details {
    flex-flow: row wrap;
    width: auto;
    border: none;
    padding: 0;
    margin: 0 0.5rem 6rem;
  }
}

#nba .project-desc .project-name {
  color: #600f69;
}
#nba .project-desc button {
  color: #600f69;
  border-color: #600f69;
}
#nba .project-desc button:hover {
  background-color: #600f69;
  color: white;
}

#bakesale .project-desc .project-name {
  color: #285943;
}
#bakesale .project-desc button {
  color: #285943;
  border-color: #285943;
}
#bakesale .project-desc button:hover {
  background-color: #285943;
  color: white;
}

#vinyl .project-desc .project-name {
  color: black;
}
#vinyl .project-desc button {
  color: black;
  border-color: black;
}
#vinyl .project-desc button:hover {
  background-color: black;
  color: white;
}

#resume h1 {
  background-color: #E1CA96;
}
#resume h2 {
  color: #276A84;
}
#resume h3, #resume h4 {
  color: #004953;
}
#resume p {
  color: black;
}
#resume .resume-sec-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-left: 1.25rem;
}
@media (min-width: 62.5rem) {
  #resume .resume-sec-container {
    justify-content: space-between;
  }
}
#resume .resume-sec {
  text-align: left;
  margin: 0 0 4rem 0;
  padding: 0.5rem;
  border: 2px solid #004953;
}
@media (min-width: 62.5rem) {
  #resume .resume-sec {
    margin-right: 0.5rem;
  }
}
#resume .job {
  color: black;
  margin-bottom: 2rem;
}
#resume .job-description {
  padding-left: 0.5rem;
  margin-left: 1.25rem;
  list-style-type: disc;
}
#resume .experience {
  width: 100%;
}

#contact {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  color: black;
}
#contact a, #contact a:visited {
  text-decoration: none;
}
#contact ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-transform: capitalize;
}
#contact ul li {
  padding: 1.5rem;
}
#contact ul li a {
  text-decoration: none;
}
@media screen and (min-width: 62.5rem) {
  #contact ul {
    display: block;
    padding: 0 0.5rem 0 0;
  }
}

.profile_links {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: black;
}
.profile_links img {
  margin: 0 0.5rem 3rem 0;
  width: 3.125rem;
}
.profile_links :visited {
  color: black;
}

footer {
  font-family: "Chakra Petch", sans-serif;
  color: black;
  background-color: #EEEEEE;
  text-align: center;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
