@import "tailwindcss";
@theme {
  --color-darkblue: #2A3245;
  --color-pink: #F9B2B2;
  --color-altblue: #165B74;

  --font-display: 'Gemunu Libre', sans-serif;
  --font-body: 'Lato', sans-serif;

  --breakpoint-m2t: 40rem;
  --breakpoint-t2d: 80rem;
}

article {
  border: 2px solid var(--color-darkblue);
}